/* General styles */
body {
    background-color: #272727;
    text-align: center;
}

/* main content */
.logo {
    width: 50%;
    height: 50%;
    padding: 1px 5px;
    max-width: 500px;
    max-height: 500px;
}

.paragraph {
    color: white;
}

/* Header */
.title {
    color: #ffffff;
    text-decoration: none;
}

/* Progress bar */
#quizprogress {
    border: 0.1rem solid;
    width: 100%;
    height: 10px;

}

#progress-bar-fill {
    height: 100%;
    width: 0%;
    background-color: #ffc840;
}

/* Quiz content */
.quiz {
    background-color: #2f2f2f;
    color: #ffffff;
    width: 90%;
    border-radius: 10px;
    margin: 50px auto 0;
    padding: 20px;
    height: fit-content;
}

/* Question text */
.quiz h2 {
    font-weight: 200;
    border-bottom: 1px solid #272727;
    padding-bottom: 15px;
    color: #ffffff
}

/* 'Start Quiz' button */
#start-btn:hover {
    color: #ffffff;
    background-color: #008000;
}

/* Quiz answer buttons */
.btn {
    border: 1px solid;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    color: white;
    background-color: #0000008f;
    transition: all 0.5s;
}

.btn:hover {
    color: rgba(0, 0, 0, 0.755);
    background-color: #ffc840;
}

/* Next button */
#next-btn {
    background-color: #00000071;
    color: #ffffff;
    font-weight: 400;
    margin: 10px auto 0;
    border: 0;
    border-radius: 10px;
    min-width: 30%;
    height: 35px;
    cursor: pointer;
    display: none;
}

#next-btn:hover {
    color: rgba(0, 0, 0, 0.755);
    background-color: #ffc840;
}

/* Correct/Incorrect colour effect */
.correct {
    background: #00800071;
}

.incorrect {
    background: #ff00009e;
}